stages: [prepare, build, deploy]
variables:
    PROJECT_NAME: "website"
build_all:
  stage: build
  script:
    - "echo starting"
include:
  - 'cicd/deploy.yml'
  - 'cicd/deploy-stage.yml'
  - 'cicd/storage.yml'
  - 'cicd/storage-stage.yml'