django==3.2.9
unidecode
pillow
minio
mysqlclient
django-cors-headers #cros headers
djangorestframework
drf_yasg
django-cors-headers
djangorestframework_simplejwt
PyJWT
django_jalali
suds-py3
requests
pytz

pandas
xlrd==1.2.0