apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sheekwebsite.fullname" . }}
  labels:
    {{- include "sheekwebsite.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "sheekwebsite.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "sheekwebsite.selectorLabels" . | nindent 8 }}
    spec:
      volumes:
        - name: default
          persistentVolumeClaim:
            claimName: "{{ .Values.storage }}"-claim
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "sheekwebsite.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      imagePullSecrets:
      - name: regcred
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/sh","-c"]
          args: ["python manage.py migrate;python manage.py runserver 0.0.0.0:80"]
          volumeMounts:
            - mountPath: "/storage"
              name: default
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
