{% extends "base.html" %}
{% load static %}
{% block title %}گزارشات - آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "assets/css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/persianDatepicker-default.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "app-assets/css-rtl/plugins/forms/validation/form-validation.css" %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/datepicker.js" %}"></script>
    <script src="{% static "app-assets/js/scripts/forms/validation/form-validation.js" %}"></script>
    <script src="{% static "app-assets/vendors/js/forms/validation/jquery.validate.min.js" %}"></script>
{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="breadcrumbs-top">
                        <h5 class="content-header-title float-left pr-1 mb-0">گزارشات</h5>
                        <div class="breadcrumb-wrapper d-none d-sm-block">
                            <ol class="breadcrumb p-0 mb-0 pl-1">
                                <li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}"><i
                                        class="bx bx-home-alt"></i></a>
                                </li>

                                <li class="breadcrumb-item active">گزارشات
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="page-account-settings">
                    <div class="row my-3">
                        <div class="col-sm-4 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <a href="{% url 'client:users' %}">
                                    <span class="card-content">
                                        <span class="card-body py-1">
                                            <span class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                                <i class="bx bx-user font-medium-5"></i>
                                            </span>
                                            <div class="text-muted line-ellipsis line-height-2 mb-50">کل کاربران</div>
                                            <h3 class="line-height-1 mb-50 primary-font">{{ all_user|length }}</h3>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <a href="{% url 'client:experts' %}">
                                    <span class="card-content">
                                        <span class="card-body py-1">
                                            <span class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                                <i class="bx bx-user font-medium-5"></i>
                                            </span>
                                            <div class="text-muted line-ellipsis line-height-2 mb-50">کل کارشناسان</div>
                                            <h3 class="line-height-1 mb-50 primary-font">{{ all_experts|length }}</h3>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12 dashboard-users-success">
                            <span class="card text-center">
                                <a href="{% url 'client:admins' %}">
                                    <span class="card-content">
                                        <span class="card-body py-1">
                                            <span class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                                <i class="bx bx-user font-medium-5"></i>
                                             </span>
                                            <div class="text-muted line-ellipsis line-height-2 mb-50">کل مدیران</div>
                                            <h3 class="line-height-1 mb-50 primary-font">{{ all_admins|length }}</h3>
                                        </span>
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-sm-3 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body py-1">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                            <i class="bx bx-user font-medium-5"></i>
                                        </div>
                                        <div class="text-muted line-ellipsis line-height-2 mb-50">کل پروژه ها</div>
                                        <h3 class="line-height-1 mb-50 primary-font">{{ all_projects|length }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body py-1">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                            <i class="bx bx-user font-medium-5"></i>
                                        </div>
                                        <div class="text-muted line-ellipsis line-height-2 mb-50">پروژه های به اتمام رسیده</div>
                                        <h3 class="line-height-1 mb-50 primary-font">{{ done|length }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body py-1">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                            <i class="bx bx-user font-medium-5"></i>
                                        </div>
                                        <div class="text-muted line-ellipsis line-height-2 mb-50">پروژه های در انتظار تایید</div>
                                        <h3 class="line-height-1 mb-50 primary-font">{{ before_confirm|length }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body py-1">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                            <i class="bx bx-user font-medium-5"></i>
                                        </div>
                                        <div class="text-muted line-ellipsis line-height-2 mb-50">پروژه های در حال انجام</div>
                                        <h3 class="line-height-1 mb-50 primary-font">{{ progress|length }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-sm-6 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body py-1">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                            <i class="bx bx-user font-medium-5"></i>
                                        </div>
                                        <div class="text-muted line-ellipsis line-height-2 mb-50">استان های فعال</div>
                                        <h3 class="line-height-1 mb-50 primary-font">{{ state|length }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 dashboard-users-success">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body py-1">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-75">
                                            <i class="bx bx-user font-medium-5"></i>
                                        </div>
                                        <div class="text-muted line-ellipsis line-height-2 mb-50">شهر های فعال</div>
                                        <h3 class="line-height-1 mb-50 primary-font">{{ city|length }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}