{% extends "base.html" %}
{% load static %}
{% block title %}حساب کاربری آرمان سنجش{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body"><!-- Dashboard Analytics Start -->
                <section id="dashboard-analytics">
                    <section id="dashboard-analytics">
                        <div class="row">
                            <!-- Website Analytics Starts-->
                            {% for i in user_jobs %}
                                {% if not i.return_userState|length %}
                                    <div class="col-12">
                                        <div class="alert w-100 bg-rgba-success p-2 alert-dismissible mb-2" role="alert">
                                            <div class="d-flex align-items-center">
                                                <i class="bx bx-check-circle"></i>
                                                <span>
                                              کارشناسی {{ i.jobField.title }} برای شما فعال شده. شما میتوانید برای این کارشناسی شهر و استان انتخاب نمایید .
                                            </span>
                                                <span class="state-alert"><a href="{% url 'projects:adduserstate' i.id %}">انتخاب شهر و استان</a></span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-12 col-sm-12">
                                <div class="card bannerdashboard">
                                    <img src="{% static "app-assets/images/banner/banner.jpg" %}" alt="بنر">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            {% for law in laws %}
                            <div class="col-xl-2 col-md-4 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-info mx-auto my-1">
                                            <i class="bx bx-edit-alt font-medium-5"></i>
                                        </div>
                                        <a href="{% url 'law:laws' law.id %}"><p class="text-muted mb-0 line-ellipsis">{{ law.title }}</p></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->
    {% include "footer.html" %}
{% endblock %}
