{% extends "base.html" %}
{% load static %}
{% block title %}درخواست کارشناسی - آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "assets/css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/persianDatepicker-default.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "app-assets/css-rtl/plugins/forms/validation/form-validation.css" %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/datepicker.js" %}"></script>
    <script src="{% static "app-assets/js/scripts/forms/validation/form-validation.js" %}"></script>
    <script src="{% static "app-assets/vendors/js/forms/validation/jquery.validate.min.js" %}"></script>
{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="breadcrumbs-top">
                        <h5 class="content-header-title float-left pr-1 mb-0">درخواست ارتقا حساب کاربری به کارشناسی</h5>
                        <div class="breadcrumb-wrapper d-none d-sm-block">
                            <ol class="breadcrumb p-0 mb-0 pl-1">
                                <li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}"><i
                                        class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active"> درخواست کارشناسی
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- account setting page start -->
                <section id="page-account-settings">
                    <div class="row">
                        <div class="col-12">
                            <div-- class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active"
                                                     id="account-vertical-general"
                                                     aria-labelledby="account-pill-general" aria-expanded="true">
                                                    <form id="jquery-val-form" class="validate-form" method="POST"
                                                          novalidate="novalidate" enctype="multipart/form-data" action="{% url 'client:expert_request' %}">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>نام کاربری</label>
                                                                        <input disabled disabled type="text" class="form-control"
                                                                               placeholder="Username"
                                                                               value="{{ request.user.username }}">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>نام</label>
                                                                        <input type="text" disabled class="form-control"
                                                                               placeholder="نام"
                                                                               value="{{ request.user.first_name }}"
                                                                               name="first_name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label> نام خانوادگی</label>
                                                                        <input type="text" disabled class="form-control"
                                                                               placeholder="نام خانوادگی"
                                                                               value="{{ request.user.last_name }}"
                                                                               name="last_name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>کد ملی</label>
                                                                        <input type="text" disabled class="form-control"
                                                                               placeholder="کد ملی"
                                                                               value="{% if request.user.national_code %}{{ request.user.national_code }}{% endif %}"
                                                                               name="national_code" minlength="10"
                                                                               required="required"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">

                                                                        <label class="d-block">آپلود تصویر کارت
                                                                            ملی</label>
                                                                        <div class="media">
                                                                            <a href="javascript: void(0);">
                                                                                <img src="
                                                                                        {% if request.user.national_card %}{{ request.user.national_card.url }}{% endif %}"
                                                                                     class="rounded mr-75"
                                                                                     alt="profile image" height="200"
                                                                                     width="300">
                                                                            </a>
                                                                            <div class="media-body mt-25">
                                                                                <div class="col-12 px-0">
                                                                                    <label for="card-files"
                                                                                           class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                                        <span>آپلود عکس</span>
                                                                                        <input id="card-files"
                                                                                               name="national-card"
                                                                                               type="file" hidden>
                                                                                    </label>
                                                                                    <button class="btn btn-sm btn-light-secondary ml-50">
                                                                                        ریست
                                                                                    </button>
                                                                                </div>
                                                                                <p class="text-muted ml-1 mt-50"><small>فرمت
                                                                                    های مورد قبول :
                                                                                    PNG , JPG حداکثر حجم : 1MB</small>
                                                                                </p>
                                                                            </div>
                                                                        </div>

                                                                </div>
                                                            </div>
                                                            <!--div class="col-12">
                                                                <div class="form-group">
                                                                    {% if request.user.has_jobField %}
                                                                        <label class="d-block">آپلود تصویر کارت
                                                                            ملی</label>
                                                                        <div class="media">
                                                                            <a href="javascript: void(0);">
                                                                                <img src="
                                                                                        {% if request.user.national_card %}{{ request.user.national_card.url }}{% endif %}"
                                                                                     class="rounded mr-75"
                                                                                     alt="national card" height="200"
                                                                                     width="300">
                                                                            </a>
                                                                            <div class="media-body mt-25">
                                                                                <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                                                                    <label for="card-files"
                                                                                           class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                                        <span>آپلود عکس</span>
                                                                                        <input id="card-files"
                                                                                               name="national-card"
                                                                                               type="file" hidden>
                                                                                    </label>
                                                                                </div>
                                                                                <p class="text-muted ml-1 mt-50"><small>فرمت
                                                                                    های مورد قبول :
                                                                                    PNG , JPG حداکثر حجم : 150KB</small>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div-->
                                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                                <button type="submit"
                                                                        class="btn btn-primary glow mr-sm-1 mb-1">ثبت درخواست
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            </section>
            <!-- account setting page ends -->

        </div>
    </div>
    </div>
    {% include "footer.html" %}
{% endblock %}