{% extends "base.html" %}
{% load static %}
{% block title %}پروفایل کاربری آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "assets/css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/persianDatepicker-default.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "app-assets/css-rtl/plugins/forms/validation/form-validation.css" %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/datepicker.js" %}"></script>
    <script src="{% static "app-assets/js/scripts/forms/validation/form-validation.js" %}"></script>
    <script src="{% static "app-assets/vendors/js/forms/validation/jquery.validate.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $("#data-input").persianDatepicker();
        });
    </script>
    <script>
        $.ajax({
            url: '{% url 'state:stateapi' %}',
            type: "GET",
            send: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                $('#state').find('option').remove().end()
                $('#city').find('option').remove().end()
                {%  if request.user.state %}
                $("#state").append($('<option>', {
                    value: {{ request.user.state.parent.id }},
                    text: '{{ request.user.state.parent.title }}'
                }))
                $("#city").append($('<option>', {
                    value: {{ request.user.state.id }},
                    text: '{{ request.user.state.title }}'
                }))
                {% endif %}
                data.forEach(function (element) {
                    $("#state").append($('<option>', {value: element['id'], text: element['title']}))
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        $("#state").change(function () {
            $.ajax({
                url: '{% url 'state:stateapi' %}' + $("#state").val() + '/',
                type: "GET",
                send: function (xhr) {
                },
                success: function (data) {
                    $('#city').find('option').remove().end()
                    data.forEach(function (element) {
                        $("#city").append($('<option>', {value: element['id'], text: element['title']}))
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="breadcrumbs-top">
                        <h5 class="content-header-title float-left pr-1 mb-0">حساب کاربری</h5>
                        <div class="breadcrumb-wrapper d-none d-sm-block">
                            <ol class="breadcrumb p-0 mb-0 pl-1">
                                <li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}"><i
                                        class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active"> حساب کاربری
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- account setting page start -->
                <section id="page-account-settings">
                    <div class="row">
                        <div class="col-12">
                            <div-- class="row">
                                <!-- left menu section -->
                                <!--div class="col-md-3 mb-2 mb-md-0 pills-stacked">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link d-flex align-items-center active"
                                               id="account-pill-general" data-toggle="pill"
                                               href="#account-vertical-general" aria-expanded="true">
                                                <i class="bx bx-cog"></i>
                                                <span>عمومی</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link d-flex align-items-center" id="account-pill-password"
                                               data-toggle="pill"
                                               href="#account-vertical-password" aria-expanded="false">
                                                <i class="bx bx-lock"></i>
                                                <span>تغییر پسورد</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link d-flex align-items-center" id="account-pill-info"
                                               data-toggle="pill"
                                               href="#account-vertical-info" aria-expanded="false">
                                                <i class="bx bx-info-circle"></i>
                                                <span>درباره من</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link d-flex align-items-center" id="account-pill-social"
                                               data-toggle="pill"
                                               href="#account-vertical-social" aria-expanded="false">
                                                <i class="bx bxl-twitch"></i>
                                                <span>شبکه های اجتماعی</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div-->
                                <!-- right content section -->
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            {% if error %}
                                                کد ملی وارد شده قبلا ثبت شده است.
                                            {% endif %}
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active"
                                                     id="account-vertical-general"
                                                     aria-labelledby="account-pill-general" aria-expanded="true">

                                                    <form id="jquery-val-form" class="validate-form" method="POST"
                                                          novalidate="novalidate" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="media">
                                                            <a href="javascript: void(0);">
                                                                <img src="
                                                                        {% if request.user.image %}{{ request.user.image.url }}{% else %}{% static 'app-assets/images/portrait/small/avatar-s-3.jpg' %}{% endif %}"
                                                                     class="rounded mr-75" alt="profile image"
                                                                     height="64"
                                                                     width="64">
                                                            </a>
                                                            <div class="media-body mt-25">
                                                                <div class="col-12 px-0">
                                                                    <label for="select-files"
                                                                           class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                        <span>آپلود عکس</span>
                                                                        <input id="select-files" name="profile-picture"
                                                                               type="file" hidden>
                                                                    </label>
                                                                    <button class="btn btn-sm btn-light-secondary ml-50">
                                                                        ریست
                                                                    </button>
                                                                </div>
                                                                <p class="text-muted ml-1 mt-50"><small>فرمت های مورد
                                                                    قبول :
                                                                    PNG , JPG حداکثر حجم : 150KB</small></p>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>نام کاربری</label>
                                                                        <input disabled type="text" class="form-control"
                                                                               placeholder="Username"
                                                                               value="{{ request.user.username }}">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>نام</label>
                                                                        <input type="text" class="form-control"
                                                                               placeholder="نام"
                                                                               value="{{ request.user.first_name }}"
                                                                               name="first_name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label> نام خانوادگی</label>
                                                                        <input type="text" class="form-control"
                                                                               placeholder="نام خانوادگی"
                                                                               value="{{ request.user.last_name }}"
                                                                               name="last_name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>ایمیل</label>
                                                                        <input type="email" class="form-control"
                                                                               placeholder="Email"
                                                                               value="{{ request.user.email }}"
                                                                               name="email" required/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>کد ملی</label>
                                                                        <input type="text" class="form-control"
                                                                               placeholder="کد ملی"
                                                                               value="{% if request.user.national_code %}{{ request.user.national_code }}{% endif %}"
                                                                               name="national_code" minlength="10"
                                                                               required="required"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>استان</label>
                                                                        <div class="input-group">
                                                                            <select class="form-control" name="state"
                                                                                    id="state">

                                                                                <option value="1"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>شهر</label>
                                                                        <div class="input-group">
                                                                            <select class="form-control" name="city" id="city">
                                                                                <option>انتخاب شهر</option>
                                                                                <option value="1"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>تاریخ تولد</label>
                                                                        <input type="text" required class="form-control"
                                                                               readonly id="data-input"
                                                                               placeholder="تاریخ تولد"
                                                                               value="{% if request.user.birthday %}{{ request.user.birthday|jformat:"%Y/%m/%d" }}{% endif %}"
                                                                               name="birthday">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label>جنسیت</label>
                                                                        <ul class="list-unstyled mb-0">
                                                                            <li class="d-inline-block mr-2 mb-1">
                                                                                <fieldset class="mt-1">
                                                                                    <div class="radio radio-primary radio-glow">
                                                                                        <input type="radio" id="gender1"
                                                                                               name="gender"
                                                                                               value="male"
                                                                                               {% if request.user.gender == 1 %}checked {% endif %}>
                                                                                        <label for="gender1">مرد</label>
                                                                                    </div>
                                                                                </fieldset>
                                                                            </li>
                                                                            <li class="d-inline-block mr-2 mb-1">
                                                                                <fieldset>
                                                                                    <div class="radio radio-primary radio-glow">
                                                                                        <input type="radio" id="gender2"
                                                                                               name="gender"
                                                                                               value="female"
                                                                                                {% if request.user.gender == 0 %}
                                                                                               checked {% endif %}>
                                                                                        <label for="gender2">زن</label>
                                                                                    </div>
                                                                                </fieldset>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    {% if request.user.has_jobField %}
                                                                        <label class="d-block">آپلود تصویر کارت
                                                                            ملی</label>
                                                                        <div class="media">
                                                                            <a href="javascript: void(0);">
                                                                                <img src="
                                                                                        {% if request.user.national_card %}{{ request.user.national_card.url }}{% endif %}"
                                                                                     class="rounded mr-75"
                                                                                     alt="profile image" height="200"
                                                                                     width="300">
                                                                            </a>
                                                                            <div class="media-body mt-25">
                                                                                <div class="col-12 px-0">
                                                                                    <label for="card-files"
                                                                                           class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                                        <span>آپلود عکس</span>
                                                                                        <input id="card-files"
                                                                                               name="national-card"
                                                                                               type="file" hidden>
                                                                                    </label>
                                                                                    <button class="btn btn-sm btn-light-secondary ml-50">
                                                                                        ریست
                                                                                    </button>
                                                                                </div>
                                                                                <p class="text-muted ml-1 mt-50"><small>فرمت
                                                                                    های مورد قبول :
                                                                                    PNG , JPG حداکثر حجم : 150KB</small>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="mt-2 col-12 d-block">
                                                                <h5>شبکه های اجتماعی</h5>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>LinkedIn</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Add link"
                                                                                   name="linkedin"
                                                                                   value="{% if request.user.extra.linkedin %}{{ request.user.extra.linkedin }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Instagram</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Add link"
                                                                                   name="instagram"
                                                                                   value="{% if request.user.extra.instagram %}{{ request.user.extra.instagram }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Whatsapp</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Add link"
                                                                                   name="whatsapp"
                                                                                   value="{% if request.user.extra.whatsapp %}{{ request.user.extra.whatsapp }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Telegram</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Add link"
                                                                                   name="telegram"
                                                                                   value="{% if request.user.extra.telegram %}{{ request.user.extra.telegram }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                                <button type="submit"
                                                                        class="btn btn-primary glow mr-sm-1 mb-1">ذخیره
                                                                    تغییرات
                                                                </button>
                                                                <button type="reset" class="btn btn-light mb-1">ریست
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            </section>
            <!-- account setting page ends -->

        </div>
    </div>
    </div>
    {% include "footer.html" %}
{% endblock %}