<!-- BEGIN: Main Menu-->
{% load static %}
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand"
                                            href="#">
                <div class="brand-logo">
                    <img src="{% static "app-assets/images/logo/logo.png" %}" alt="لوگو">
                </div>
                <h2 class="brand-text mb-0">آرمان سنجش</h2></a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                    class="bx bx-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                    class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                    data-ticon="bx-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="">
            <li class=" nav-item"><a href="{% url 'client:dashboard' %}"><i class="bx bx-home-alt"></i><span
                    class="menu-title text-truncate" data-i18n="Dashboard">داشبورد</span></a></li>
            <li class=" nav-item"><a href="{% url 'client:profile' %}"><i class="bx bx-user"></i><span
                    class="menu-title text-truncate" data-i18n="Dashboard">حساب کاربری</span></a>
                <ul class="menu-content">
                    <li><a class="d-flex align-items-center" href="{% url 'client:profile' %}"><i
                            class="bx bx-right-arrow-alt"></i><span class="menu-item text-truncate" data-i18n="List">پروفایل</span></a>
                    </li>
                </ul>
            </li>
            {% if request.user.is_superuser %}<li class=" nav-item"><a href="{% url 'state:state' %}"><i class="bx bx-location-plus"></i><span
                    class="menu-title text-truncate" data-i18n="Dashboard">شهر ها و استان ها</span></a></li>{% endif %}
            {% if request.user.is_superuser %}<li class=" nav-item"><a href="{% url 'projects:jobs' %}"><i class="bx bx-briefcase-alt"></i><span
                    class="menu-title text-truncate" data-i18n="Dashboard">مشاغل</span></a></li>{% endif %}
            {% if request.user.is_superuser %}<li class=" nav-item"><a href="{% url 'projects:experts' %}"><i class="bx bx-location-plus"></i><span
                        class="menu-title text-truncate" data-i18n="Dashboard">تایید کارشناسان</span></a></li>{% endif %}
            <li class=" nav-item"><a href="{% url 'projects:userjob' %}"><i class="bx bxs-user-detail"></i><span
                    class="menu-title text-truncate" data-i18n="Dashboard">کارشناسی</span></a>
                <ul class="menu-content">
                   {% if request.user.has_jobField or request.user.is_superuser %}<li><a class="d-flex align-items-center" href="{% url 'projects:userjob' %}"><i
                            class="bx bx-right-arrow-alt"></i><span class="menu-item text-truncate" data-i18n="Edit">کارشناسی</span></a>
                    </li>{% endif %}
                    <li><a class="d-flex align-items-center" href="{% url 'projects:addproject' %}"><i
                            class="bx bx-right-arrow-alt"></i><span class="menu-item text-truncate" data-i18n="View">پروژه جدید</span></a>
                    </li>
                    <li><a class="d-flex align-items-center" href="{% url 'projects:projects' %}"><i
                            class="bx bx-right-arrow-alt"></i><span class="menu-item text-truncate" data-i18n="Edit">پروژه ها</span></a>
                    </li>
                    {% if request.user.has_jobField or request.user.is_superuser %}<li><a class="d-flex align-items-center" href="{% url 'projects:expert-projects' %}"><i
                            class="bx bx-right-arrow-alt"></i><span class="menu-item text-truncate" data-i18n="Edit">پروژه های من</span></a>
                    </li>{% endif %}
                    {% if request.user.has_jobField or request.user.is_superuser %}<li><a class="d-flex align-items-center" href="{% url 'projects:project-request' %}"><i
                            class="bx bx-right-arrow-alt"></i><span class="menu-item text-truncate" data-i18n="Edit">دریافت پروژه</span></a>
                    </li>{% endif %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->