{% extends "base.html" %}
{% load static %}
{% block title %}انتخاب کارشناشی - آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}
{% endblock %}
{% block js %}
    <script>
        $(document).ready()
        {
            function expertselect(val) {
                $('.card-body').removeClass("bg-orang");
                var input = $('input[value="'+val+'"]');
                input.prop("checked",true);
                input[0].parentElement.classList.add("bg-orang");
            };
        }
    </script>
    <script>
        $(document).ready(function(){
          $(".select-card").click(function(){
            $(".btn").addClass('show')
          });
        });
    </script>
{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="breadcrumbs-top">
                        <h5 class="content-header-title float-left pr-1 mb-0"></h5>
                        <div class="breadcrumb-wrapper d-none d-sm-block">
                            <ol class="breadcrumb p-0 mb-0 pl-1">
                                <li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}"><i
                                        class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    افزودن کارشناسی
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Basic Tables start -->
                <div class="row" id="basic-table">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form form-vertical" method="POST" novalidate="novalidate"
                                      enctype="multipart/form-data" action="{% url 'projects:adduserjob' %}">
                                    {% csrf_token %}
                                    <div class="form-body">
                                    <span class="titles"><i class="bx bx-select-multiple"></i>  انتخاب حوزه کارشناسی</span>
                                        <div class="row">
                                            {% for jobfield in jobfields %}
                                            <div class="col-4 text-center pointer" onclick="expertselect({{ jobfield.id }})">
                                                <div class="card-body p-1 mb-2 bg-light-blue">
                                                    <input id="chb1" type="radio" value="{{ jobfield.id }}" name="expert-list"
                                                           class="d-none"/>
                                                    <div class="media-body select-card card-body mt-25 row">
                                                        <div class="col lin">
                                                            <span>{{ jobfield.title }}</span><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% for jobfield in beold %}
                                                <div class="col-4 text-center">
                                                <div class="card-body p-1 mb-2 bg-light-light-blue">
                                                    <input id="chb1" type="radio" value="{{ jobfield.id }}" name="expert-list"
                                                           class="d-none"/>
                                                    <div class="media-body card-body mt-25 row">
                                                        <div class="col lin">
                                                            <span>{{ jobfield.title }}</span><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary hidden mr-1">مرحله بعد</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}