{% extends "base.html" %}
{% load static %}
{% block title %}پروژه جدید - آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "assets/css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/persianDatepicker-default.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "app-assets/css-rtl/plugins/forms/wizard.min.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "app-assets/css-rtl/plugins/forms/validation/form-validation.css" %}">
    <style>
        .pointer {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block js %}
    <script src="{% static "app-assets/js/scripts/forms/validation/form-validation.js" %}"></script>
    <script src="{% static "app-assets/vendors/js/forms/validation/jquery.validate.min.js" %}"></script>
    <script src="{% static "app-assets/js/scripts/modal/components-modal.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/datepicker.js" %}"></script>

    <script src="{% static "app-assets/vendors/js/extensions/jquery.steps.min.js" %}"></script>
    <script src="{% static "app-assets/js/scripts/forms/wizard-steps.min.js" %}"></script>

    <script type="text/javascript">
        $('.media').click(function () {
            $('.hli').removeClass('hli');
            $(this).addClass('hli').find('input').prop('checked', true)
        });
        $(function () {
            $("#data-input").persianDatepicker();
        });
        $('.media').click(function () {
            $('.hli').removeClass('hli');
            $(this).addClass('hli').find('input').prop('checked', true)
        });
    </script>
    <script>
        $.ajax({
            url: '{% url 'projects:jobsapi' %}',
            type: "GET",
            send: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                $('#expert').find('option').remove().end()
                $("#expert").append($('<option>', {value: 0, text: 'انتخاب کارشناسی'}))
                data.forEach(function (element) {
                    $("#expert").append($('<option>', {value: element['id'], text: element['title']}))
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        $("#expert").change(function () {
            $.ajax({
                url: '{% url 'projects:adduserjob' %}' + $("#expert").val() + '/',
                type: "GET",
                async: false,
                cache: false,
                timeout: 30000,
                send: function (xhr) {
                },
                success: function (data) {
                    $('#subexpert').find('option').remove().end()
                    data.forEach(function (element) {
                        $("#subexpert").append($('<option>', {value: element['id'], text: element['title']}))
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        $("#subexpert").change(function () {
            $.ajax({
                url: '{% url 'projects:adduserjob' %}' + $("#subexpert").val() + '/',
                type: "GET",
                async: false,
                cache: false,
                timeout: 30000,
                send: function (xhr) {
                },
                success: function (data) {
                    $('#salahiat').find('option').remove().end()
                    data.forEach(function (element) {
                        $("#salahiat").append($('<option>', {value: element['id'], text: element['title']}))
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        $.ajax({
            url: '{% url 'state:stateapi' %}',
            type: "GET",
            send: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                $('#state').find('option').remove().end()
                $("#state").append($('<option>', {value: 0, text: 'انتخاب استان'}))
                data.forEach(function (element) {
                    $("#state").append($('<option>', {value: element['id'], text: element['title']}))
                });
            },
            error: function (error) {
                console.log(error);
            }
        });

        $("#state").change(function () {
            $.ajax({
                url: '{% url 'state:stateapi' %}' + $("#state").val() + '/',
                type: "GET",
                send: function (xhr) {
                },
                success: function (data) {
                    $('#city').find('option').remove().end()
                    data.forEach(function (element) {
                        $("#city").append($('<option>', {value: element['id'], text: element['title']}))
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $("#button_1").click(function () {
            $.ajax({
                url: '{% url 'projects:addproject_api' %}',
                type: "GET",
                data: {
                    salahiat: $("#salahiat").val(),
                    city: $("#city").val()
                },
                send: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    $('.overlay').show();
                    $('.loader').show();
                },
                success: function (data) {

                    $("#experts").empty();
                    data.forEach(data => {
                        const card = `<div class="card-body">
                                          <input id="chb1" type="radio" value="${data.id}" name="expert-list" class="d-none"/>
                                          <div class="media-body card-body mt-25 row">
                                              <div class="col-2">
                                                  <img src="${data.profile}" class="rounded mr-75" alt="profile image" height="64" width="64">
                                              </div>
                                              <div class="col lin">
                                                  <span>${data.name} ${data.last_name}</span><br>
                                                  <span>${data.birthday}</span>
                                              </div>
                                              <div class="col">
                                                  <div class="view-profile">
                                                  <button type="button" class="btn select-expert btn-light-primary glow" onclick="expertselect(${data.id})">
                                                    انتخاب کارشناس
                                                  </button>
                                                  </div>
                                              </div>
                                          </div>
                                       </div>`
                        const ele = document.createElement('div');
                        ele.classList.add('col-4')
                        ele.innerHTML = card;
                        $("#experts").append(ele);

                    })
                    if (data.length == 0) {
                        const card = `<div class="no-expert">کارشناسی برای ارائه به این درخواست وجود ندارد.<br><br>شما میتوانید از گزینه " ثبت درخواست بدون انتخاب کارشناس " استفاده نمایید.</div>`
                        const ele = document.createElement('div');
                        ele.innerHTML = card;
                        $("#experts").append(ele);
                    }
                },
                error: function (error) {
                    $('.overlay').hide();
                    $('.loader').hide();
                    const card = `<div class="no-expert">استان و یا کارشناسی به درستی انتخاب نشده است.</div>`
                    const ele = document.createElement('div');
                    ele.innerHTML = card;
                    $("#experts").append(ele);
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        mamad = function (mamadvar) {
            $.ajax({
                url: '{% url 'projects:jobs_api_search' %}' + mamadvar + '/',
                type: "GET",
                send: function (xhr) {
                },
                beforeSend: function () {
                    $('.overlays').show();
                    $('.loaders').show();
                },
                success: function (data) {
                    $("#show_experts").removeClass('show-befores')
                    $("#show_experts").addClass('show-befores')
                    $("#show_tags").empty();
                    $('.overlays').hide();
                    $('.loaders').hide();
                    $("#show_tags").append(document.createElement('ul'));
                    data.forEach(data => {
                        $("#show_tags>ul").append(`<li onclick="mamad2(${data.id})" class="pointer w-100" id="point">${data.title}</li>`);
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        mamad2 = function (mamadvar) {
            $.ajax({
                url: '{% url 'projects:jobs_api_search2' %}' + mamadvar + '/',
                type: "GET",
                send: function (xhr) {
                },
                success: function (data) {
                    $("#search-list").empty();
                    $("#expert").val(data.select_parent_parent);
                    $("#expert").change();
                    $("#subexpert").val(data.select_parent);
                    $("#subexpert").change();
                    $("#salahiat").val(data.selecte);
                    /*data.forEach( data => {
                        const card = `<li onclick="mamad2(${data.id})" class="pointer">${data.title}</li>`
                        const ele = document.createElement('div');
                        ele.innerHTML = card;
                        $("#search-list").append(ele);
                    })*/
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        $('#searchin').keyup(function () {
            $.ajax({
                url: '{% url 'projects:job_search' %}',
                type: "GET",
                data: {
                    title: $("#searchin").val(),
                },
                send: function (xhr) {
                },
                beforeSend: function () {
                    $('.overlays').show();
                    $('.loaders').show();
                },
                success: function (data) {
                    $("#show_tags").addClass('show-befores')
                    $("#show_tags").empty();
                    $('.overlays').hide();
                    $('.loaders').hide();
                    $("#show_tags").append(document.createElement('ul'));
                    data.forEach(data => {
                        $("#show_tags>ul").append(`<li onclick="mamad(${data.id})" class="pointer" id="point">${data.title}</li>`);
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

    </script>
    <script>
        $(document).ready()
        {
            function expertselect(val) {
                $('.card-body').removeClass("bg-light-green");
                var input = $('input[value="'+val+'"]');
                input.prop("checked",true);
                input[0].parentElement.classList.add("bg-light-green");
            };
        }
    </script>
{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="breadcrumbs-top">
                        <h5 class="content-header-title float-left pr-1 mb-0"></h5>
                        <div class="breadcrumb-wrapper d-none d-sm-block">
                            <ol class="breadcrumb p-0 mb-0 pl-1">
                                <li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}"><i
                                        class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <section id="info-tabs-">
                <div class="row">
                    <div class="col-12">
                        <div class="card icon-tab">
                            <div class="card-body mt-2">
                                <form class="wizard-validation" method="POST"
                                      action="{% url 'projects:addproject' %}">
                                    {% csrf_token %}

                                    <h6>

                                        <span>انتخاب شهر و استان</span>
                                    </h6>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="first-name-vertical">استان</label>
                                                    <div class="input-group mt-1">
                                                        <select class="form-control" name="state" id="state" required>
                                                            <option value="1"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="first-name-vertical">شهر</label>
                                                    <div class="input-group mt-1">
                                                        <select class="form-control required" name="city" id="city"
                                                                required>
                                                            <option selected>انتخاب شهر</option>
                                                            <option value="1"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <h6>
                                        <span>جستجو در رشته های کارشناسی</span>
                                    </h6>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="first-name-vertical">کلمه کلیدی رشته کارشناسی</label>
                                                    <div class="input-group mt-1">
                                                        <input class="form-control" type="text" name="searchin"
                                                               id="searchin">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="overlays"></div>
                                                <div class="loaders"></div>
                                                <div class="show_tags w-100 mt-3 mb-5" id="show_tags">
                                                </div>
                                            </div>
                                            <div class="row col-12">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="first-name-vertical">سرگروه</label>
                                                        <div class="input-group mt-1">
                                                            <select class="form-control" name="expert" id="expert">
                                                                <option selected>انتخاب سرگروه</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="first-name-vertical">زیر گروه</label>
                                                        <div class="input-group mt-1">
                                                            <select class="form-control" name="subexpert"
                                                                    id="subexpert">
                                                                <option selected>انتخاب زیر گروه</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="first-name-vertical">صلاحیت</label>
                                                        <div class="input-group mt-1">
                                                            <select class="form-control" name="salahiat" id="salahiat">
                                                                <option selected>انتخاب صلاحیت</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- body content of step 2 end-->
                                    <!-- body content of step 1 end-->
                                    <!-- Step 2-->
                                    <h6>
                                        <span>انتخاب کارشناس</span>
                                    </h6>
                                    <!-- Step 3 end-->
                                    <!-- body content of step 3 -->
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-12">
                                                <h6 class="py-50">کارشناس خود را انتخاب کنید</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label>عنوان پروژه</label>
                                                        <input type="text" class="form-control"
                                                               placeholder="عنوان پروژه"
                                                               value=""
                                                               name="project-title">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label>توضیحات پروژه</label>
                                                        <textarea type="text-area" class="form-control"
                                                                  placeholder="توضیحات پروژه"
                                                                  value="" rows="10"
                                                                  name="project-description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- body content of step 3 end-->
                                    <!-- Step 2-->
                                    <h6>

                                        <span>انتخاب کارشناسی</span>
                                    </h6>
                                    <!-- Step 2 end-->
                                    <!-- body content of step 2 -->
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h5>جستجو و انتخاب کارشناس</h5>
                                                            <p>می‌توانید از بین کارشناسان پیشنهادی آرمان سنجش، یک
                                                                کارشناس را انتخاب کنید تا درخواست برای وی ارسال شود.</p>
                                                            <button type="button" id="button_1"
                                                                    class="btn btn-lg btn-block font-medium-1 btn-sheek-primary mb-1 text-nowrap">
                                                                جستجو
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h5>ثبت درخواست بدون انتخاب کارشناس</h5>
                                                            <p>درخواست شما ثبت می‌شود و هر کدام از کارشناسان که مایل
                                                                باشند به درخواست پاسخ می‌دهند.</p>
                                                            <button type="submit"
                                                                    class="btn btn-lg btn-block font-medium-1 btn-sheek-primary mb-1 block-element text-nowrap">
                                                                ثبت درخواست
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="overlay"></div>
                                            <div class="loader"></div>
                                            <div class="col-12 row" id="experts">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary glow btnformsub">ثبت درخواست
                                        </button>
                                    </fieldset>
                                    <!-- body content of step 2 end-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}