{% extends "base.html" %}
{% load static %}
{% block title %}پروژه ها - آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section class="users-view">
                    <div class="row">

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-12 col-sm-12">
                                <div class="media user mb-2">
                                    <a class="mr-1">
                                        <img src="{% if user.image %}{{ user.image.url }}{% endif %}"
                                             alt="users view avatar"
                                             class="users-avatar-shadow rounded-circle" height="100" width="100">
                                    </a>
                                    <div class="media-body pt-25">
                                        <h4 class="media-heading"><span
                                                class="users-view-name">{{ user.get_full_name }} </span></h4>

                                        <span>شناسه:</span>
                                        <span class="users-view-id">{{ user.id }}</span><br>
                                        <span class="badge badge-light-success users-view-status">فعال</span><br>
                                        <div class="media social mb-2">
                                            <ul>
                                                {% if not user.extra.instagram %}
                                                    <li><a href="{{ user.extra.instagram }}"><i
                                                            class="bx bxl-instagram"></i></a></li>
                                                {% endif %}
                                                {% if user.extra.whatsapp %}
                                                    <li><a href="{{ user.extra.whatsapp }}"><i
                                                            class="bx bxl-whatsapp"></i></a></li>
                                                {% endif %}
                                                {% if user.extra.linkedin %}
                                                    <li><a href="{{ user.extra.linkedin }}"><i
                                                            class="bx bxl-linkedin"></i></a></li>
                                                {% endif %}
                                                {% if user.extra.telegram %}
                                                    <li><a href="{{ user.extra.telegram }}"><i
                                                            class="bx bxl-telegram"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-rel">
                                    <div class="d-flex p-1 justify-between py-2 border-b border-gray-200 last:pb-0 col-12 col-md-4">
                                        <span class="text-gray-500">ایمیل:</span>
                                        <span class="text-gray-700">{{ user.email }}</span>
                                    </div>
                                    <div class="d-flex p-1 justify-between py-2 border-b border-gray-200 last:pb-0 col-12 col-md-4">
                                        <span class="text-gray-500">تلفن همراه:</span>
                                        <span class="text-gray-700">{{ user.cellphone }}</span>
                                    </div>
                                    <div class="d-flex p-1 justify-between py-2 border-b border-gray-200 last:pb-0 col-12 col-md-4">
                                        <span class="text-gray-500">تاریخ عضویت:</span>
                                        <span class="text-gray-700"> {{ user.date_joined|jformat:"%Y/%m/%d" }} </span>
                                    </div>
                                    <div class="d-flex p-1 justify-between py-2 border-b border-gray-200 last:pb-0 col-12 col-md-4">
                                        <span class="text-gray-500">استان:</span>
                                        <span class="text-gray-700"> {{ user.state.parent.title }} </span>
                                    </div>
                                    <div class="d-flex p-1 justify-between py-2 border-b border-gray-200 last:pb-0 col-12 col-md-4">
                                        <span class="text-gray-500">شهر:</span>
                                        <span class="text-gray-700"> {{ user.state.title }} </span>
                                    </div>
                                </div>
                                <div class="salahiat">
                                    <span>صلاحیت ها :</span>
                                    <ul>
                                    {% for job in userJob %}
                                       <li>
                                        {{ job.jobField.title }}
                                       </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}