{% extends "base.html" %}
{% load static %}
{% block title %}نگ ها - آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}{% endblock %}
{% block js %}
    <script src="{% static "app-assets/js/scripts/tooltip/tooltip.min.js" %}"></script>
{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="breadcrumbs-top">
                        <h5 class="content-header-title float-left pr-1 mb-0">تگ ها</h5>
                        <div class="breadcrumb-wrapper d-none d-sm-block">
                            <ol class="breadcrumb p-0 mb-0 pl-1">
                                <li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}"><i
                                        class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active">تگ ها
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12 row">
                        {% for salahiat in salahiats %}
                        <div class="col-12 col-md-4">
                            <div class="card p-2 text-center">
                                <a href="{% url 'projects:set_tag' salahiat.id %}" data-toggle="tooltip" data-offset="0,8" data-placement="top" title="{{ salahiat.title }}">
                                    <span class="tag-text">
                                        {{ salahiat.title }}
                                    </span>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "footer.html" %}
{% endblock %}