{% extends "base.html" %}
{% load static %}
{% block title %}کارشناشی - آرمان سنجش{% endblock %}
{% load jformat %}
{% block css %}{% endblock %}
{% block js %}
    <script src="{% static "app-assets/js/scripts/modal/components-modal.min.js" %}"></script>
    <script>
        $.ajax({
            url: '{% url 'projects:jobsapi' %}',
            type: "GET",
            send: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                $('#inputGroupSelect01').find('option').remove().end()
                $("#inputGroupSelect01").append($('<option>', {value: 0, text: ''}))
                data.forEach(function (element) {
                    $("#inputGroupSelect01").append($('<option>', {value: element['id'], text: element['title']}))
                });
            },
            error: function (error) {
                console.log(error);
            }
        });

        function getCookie(job) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, job.length + 1) === (job + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(job.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        $('[type="submit"]').on('click', function (e) {
            e.preventDefault()
            // Making the AJAX Request
            $.ajax({
                url: $("form")[0].action,
                type: "POST",
                data: {
                    title: $("#jobs").val(),
                    parent: $("#inputGroupSelect01").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            $.ajax({
                url: '{% url 'projects:jobsapi' %}',
                type: "GET",
                send: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    $('#inputGroupSelect01').find('option').remove().end()
                    $("#inputGroupSelect01").append($('<option>', {value: 0, text: ''}))
                    data.forEach(function (element) {
                        $("#inputGroupSelect01").append($('<option>', {value: element['id'], text: element['title']}))
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
            $.ajax({
                url: '{% url 'projects:jobs' %}',
                method: 'GET',
                data: {},
                success: function (data) {
                    $('#jobTabale').replaceWith($('#jobTabale', data));
                },
                error: function (error) {
                    console.log(error);
                    console.log("error");
                }
            });
        })
    </script>
{% endblock %}
{% block bodyclass %} class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky
    footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"{% endblock %}
{% block body %}
    {% include "header.html" %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="breadcrumbs-top">
                        <h5 class="content-header-title float-left pr-1 mb-0"></h5>
                        <div class="breadcrumb-wrapper d-none d-sm-block">
                            <ol class="breadcrumb p-0 mb-0 pl-1">
                                <li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}"><i
                                        class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    کارشناسی
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Basic Tables start -->
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary shadow mr-1 mb-1" href="{% url 'projects:adduserjob' %}">افزودن
                            کارشناسی </a>
                        {% if error %}
                            کارشناس قبلا ثبت شده است
                        {% endif %}

                        {% if userjobs %}
                            <div class="row">
                                {% for userjob in userjobs %}
                                    <div class="col-lg-6 col-xl-6 user-details-card">
                                        <div class="card widget-user-details">
                                            <div class="card-header">
                                                <div class="card-title-details d-flex align-items-center">
                                                    <div class="mt-n25">
                                                        <h5 class="line-height-2 font-size-15">{{ userjob.jobField.title }}</h5>
                                                        <div class="card-subtitle">{{ userjob.jobField.parent.title }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="table-responsive ps">
                                                        <table class="table table-borderless">
                                                            <tbody>
                                                            <tr>
                                                                <td class="pb-0 pl-0"><strong>تاریخ دریافت مدرک</strong></td>
                                                                <td class="pb-0 pl-0"><strong>تاریخ انقضای مدرک</strong></td>
                                                                <td class="pb-0"><strong>تعداد پروژه ها</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="pl-0">
                                                                    <div class="badge badge-light-primary text-bold-500 py-50">
                                                                        {{ userjob.issue|jformat:"%Y/%m/%d" }}
                                                                    </div>
                                                                </td>
                                                                <td class="pl-0">
                                                                    <div class="badge badge-light-danger text-bold-500 py-50">
                                                                        {{ userjob.expiration|jformat:"%Y/%m/%d" }}
                                                                    </div>
                                                                </td>
                                                                <td>10 پروژه</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-flex justify-content-between border-top">
                                                <div class="d-flex">
                                                    <a href="{{ userjob.inquiry_link }}" target="_blank"
                                                       class="d-inline-flex align-items-center mr-2">
                                                        <i class="bx bx-link mr-25"></i>
                                                        <small>لینک استعلام</small>
                                                    </a>
                                                    <div data-toggle="modal" data-target="#picmodal" aria-modal="true" class="d-inline-flex align-items-center pointer">
                                                        <i class="bx bx-printer mr-25"></i>
                                                        <small>مشاهده مدرک</small>
                                                    </div>
                                                </div>
                                                <div>
                                                    <i class="bx bx-check mr-25"></i>
                                                    <small>
                                                        وضعیت :
                                                        <span class="{% if userjob.status %}text-success{% else %}text-danger{% endif %}">{% if userjob.status %}تایید شده{% else %}تایید نشده{% endif %}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade text-left" id="picmodal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel33" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                {% if userjob.document_image %}<img src="{{ userjob.document_image.url }}">{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            شما هنوز رشته ای را انتخاب نکرده اید
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}